* {
  font-family: Helvetica Neue, Segoe UI, sans-serif;
}

button,
input {
  margin: 3px;
}

ul {
  list-style: none;
  padding: 0;
}

input[type="text"] {
  width: 300px;
}

:checked + input[type="text"] {
  color: gray;
  font-style: italic;
  text-decoration: line-through;
}
#app:not(.logged-in) #logout_button,
#app:not(.logged-in) #user_info,
#app.logged-in #login_button {
  display: none;
}
#progress_indicator {
  display: none;
  width: 15px;
  height: 15px;
}
#app_fieldset {
  /* prevents an element from being rendered, 
  but still allows its children to be rendered. */
  display: contents;
}
/* 
.loggedIn :not(.log-in) {
  display: none;
}

.loggedout :not(.log-out) {
  display: none;
} */
